@font-face {
    font-family: "Scoreboard";
    src: url(scoreboard.ttf) format('truetype');
}

body {
    margin: 0px;
    background-color: #19244d;
    font-family: Scoreboard;
}


#container {
    display: flex;
    justify-content: center;  
}


h1 {
    margin-bottom: 0px;
    font-size: 2.5rem;
}


.score {
    width: 150px;
    height: 150px;
    background-color: black;
    margin: 20px auto 40px auto;
}


#home-container, #away-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
    margin: 20px;
    text-align: center;
    border: 4px dotted white;
    color: white;
    letter-spacing: 5px;   
}


.plus1, .plus2, .plus3 {
    background-color: #19244d;
    border: 2px solid white;
    color: white;
    font-family: Scoreboard;
    padding: 10px 10px;   
}


.plus1:hover,  .plus2:hover, .plus3:hover {
    background-color: lightcyan;
    border: 2px solid white;
    color: black;
    font-family: Scoreboard;
    padding: 10px 10px;  
}


#home-score, #away-score {
    font-family: Scoreboard;
    font-size: 100px;
    margin: 10px auto;
    color: red;
}


.clear {
    background-color: #19244d;
    color: white;
    font-family: Scoreboard;
    border: 2px solid white;
    margin: auto;
    margin-top: 10px;
    padding: 10px 53px;
}


.clear:hover {
    background-color: lightcyan;
    color: black;
    font-family: Scoreboard;
    border: 2px solid white;
    margin: auto;
    margin-top: 10px;
    padding: 10px 53px;
}


